{% extends 'base.html' %}

{% block content %}


<main class="container py-5">

    <section class="card card-body">

        <h1 class="display-1 text-center">Django APP</h1>
        
        <P>
            
    <strong>Español: </strong>
        <br>
        Bienvenido/a a mi proyecto basado en Django. En esta página encontrarás una amplia gama de funcionalidades para demostrar los conocimientos que tengo al usar este FrameWrok con Python. 
        <br>
        Incialmente, las habilidades que deseo demostrar son las operaciones CRUD. Puedes crear un usuario (en la opcion Login del menú) donde una vez creado, puedes tener acceso a diferentes rutas, las cuales tambien estan protegidas y solo se tendrá acceso si estas logado con usuario.
        <br>
        <br>
        Si deseas, puedes crear un usuario para que puedas ver de manera personalizada cada pestaña, de lo contrario, puedes usar el usuario de prueba que dejo en a continuacion.
        <br>
        <br>
        Usuario Prueba:
        <br>
        Juan123
        <br>
        <br>
        Contraseña:
        <br>
        123456
        <br>
        <br>
        Un vez logueado, podrás:
        <br>
        -Crear una tarea a travez de un formulario y marcarla como importante &#40opcional&#41
        <br>
        -Una vez creada, puedes visualizarla en la lista de: Pending Task
        <br>
        -Puedes ingresar a esa tarea y tendras las opciones de: Editar la tarea y guardar, Completar la tarea &#40se elminará de tareas pendientes y cambiará a la pestaña de tareas completadas&#41, o si ya no deseas continuar con esta tarea, puedes eliminarnar.
        <br>
        -En la pestaña: Completed Task, podras ver todas las tareas que te propusiste y que ya has completado.
        <br>
        -Cuando hayas finalizado con interacion en la pagina, podras salir con la pestaña Logout.
        <br>
        Espero hayas disfrutado de este pequeño proyecto y si tienes alguna pregunta o comentario me lo puedes contactar a travez de:
        <br>
        <br>
        <a href="https://www.linkedin.com/in/juan-gañan-391789222/">linkedin</a>
        <br>
        <a href="https://github.com/JuanEsganan/Crud-Django">Repositorio GitHub</a>

        </P>
        <br>


            <P>
                <strong>English: PENDING TO FIX </strong>
                <br>
                Welcome to our Django-based project. On our website, you will find a wide range of functionalities to meet your needs. When you visit us, you'll be able to perform the following actions:
                
                Create: You can create new items and add them to our database. Whether you want to create posts, products, or any other type of content, our project provides you with the flexibility to do so easily and efficiently.
                
                Read: Explore and discover all the available information on our website. Access posts, products, or any other existing content and find the details you need.
                
                Update: If you spot errors or need to make changes to any item, you can easily update it. Our project allows you to edit existing data and ensure that the information is always up to date.
                
                Delete: Need to remove an item from our database? No problem. With our deletion functionality, you can quickly and securely get rid of any data you no longer need.
                
                Explore our project and make the most of all these functionalities. We hope you enjoy your experience!
            </P>

        <div class="text-center">
            <a class="btn btn-secondary"  href="/signin">Login</a>
            <a class="btn btn-dark"  href="/signup">SignUp</a>
        </div>

        </section>




</main>

{% endblock %}