{% extends 'base.html' %}

{% block content %}


<main class="container py-5">

    <section class="card card-body">

        <h1 class="display-1 text-center">Django APP</h1>
        
        <P>
            
    <strong>Español: </strong>
        <br>
        Bienvenido/a a mi proyecto basado en Django. En esta página encontrarás una amplia gama de funcionalidades para demostrar los conocimientos que tengo al usar este FrameWrok con Python. El enfoque principal del desarro de esta página esta orientado al back-end ya que estoy especializando mis estudios en esa area.
        <br>
        Incialmente, las habilidades que deseo demostrar son las operaciones CRUD. Puedes crear un usuario (en la opcion Login del menú) donde una vez creado, puedes tener acceso a diferentes rutas, las cuales tambien estarán protegidas y solo se tendrá acceso si estas logado con usuario.
        <br>
        <br>
        Si deseas, puedes crear un usuario para que puedas ver de manera personalizada cada pestaña, de lo contrario, puedes usar el usuario de prueba que dejo a continuacion:
        <br>
        <br>
        Usuario Prueba:
        <br>
        juan123
        <br>
        <br>
        Contraseña:
        <br>
        123456
        <br>
        <br>
        Un vez logueado, podrás:
        <br>
        -Crear una tarea a travez de un formulario y marcarla como importante &#40opcional&#41
        <br>
        -Una vez creada, puedes visualizarla en la lista de: Pending Task
        <br>
        -Puedes ingresar a esa tarea y tendras las opciones de: Editar la tarea y guardar, Completar la tarea &#40se elminará de tareas pendientes y se cambiará a la pestaña de tareas completadas&#41, o si ya no deseas continuar con esta tarea, puedes elimnarla.
        <br>
        -En la pestaña: Completed Task, podras ver todas las tareas que te propusiste y que ya has completado.
        <br>
        -Cuando hayas finalizado con interacion en la pagina, podras salir con la pestaña Logout.
        <br>
        Espero hayas disfrutado de este pequeño proyecto y si tienes alguna pregunta o comentario me lo puedes contactar a travez de:
        <br>
        <br>
        <a href="https://www.linkedin.com/in/juan-gañan-391789222/">linkedin</a>
        <br>
        <a href="https://github.com/JuanEsganan/Crud-Django">Repositorio GitHub</a>

        </P>
        <br>


            <P>
                <strong>English: </strong>
                <br>
                Welcome to my Django-project On this page, you will find a wide range of functionalities to show my knowledge of using this Python framework. The main focus of this page's development is on the back-end, as I am specializing my studies in that area.
                <br>
                Initially, the skills I want to demonstrate are CRUD operations. You can create a user (in the Login option of the menu) where once created, you can access different routes, which will also be protected and only accessible if you are logged in with a user.
                <br>
                <br>
                If you wish, you can create a user so that you can see each tab personalized. Otherwise, you can use the test user I'm providing below:
                <br>
                <br>
                Test User:
                <br>
                Username: juan123
                <br>
                <br>
                Password: 123456
                <br>
                <br>
                Once logged in, you will be able to:
                <br>
                - Create a task through a form and mark it as important (optional).
                <br>
                - Once created, you can view it in the Pending Task list.
                <br>
                - You can access that task and have the options to: Edit the task and save it, Complete the task (it will be removed from pending tasks and moved to the Completed Task tab), or if you no longer wish to continue with the task, you can delete it.
                <br>
                - In the Completed Task tab, you can see all the tasks you set out to do and have already completed.
                <br>
                - When you are finished interacting with the page, you can log out using the Logout tab.
                <br>
                I hope you have enjoyed this small project, and if you have any questions or comments, you can contact me through:
                <br>
                <br>
                <a href="https://www.linkedin.com/in/juan-gañan-391789222/">LinkedIn</a>
                <br>
                <a href="https://github.com/JuanEsganan/Crud-Django">GitHub Repository</a>
                </p>

        <div class="text-center">
            <a class="btn btn-secondary"  href="/signin">Login</a>
            <a class="btn btn-dark"  href="/signup">SignUp</a>
        </div>

        </section>




</main>

{% endblock %}