{% extends 'base.html' %} {% block content %}

<main class="container">

  <div class="row">
      <div class="col-md-6 offset-md-3">
        
        <h1 class="text-center display-3 py-5">Completed tasks</h1>

          <ul class="list-group">
            {% for task in tasks %}
              <li class="list-group-item">
                 <strong>{{task.title}}</strong>
                  <p>{{task.description}}</p>
                  <p>{{task.user.username}}</p>
            
                  <p> fecha de tarea completada {{task.date_completed|date:'M j Y:i'}}</p>
                
              </li>
            {% endfor %}
          </ul>

      </div>


  </div>

</main>

{% endblock %}